@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --header-bg-colour: #111111;
  --header-colour: #fff;
  --main-theme-colour: #59AEAD;
  --footer-bg-colour: #2e2d2c;
  --footer-colour: #fff;
  --main-gray-colour: rgb(192, 184, 184);
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
}
.headerContainer,
.footerContainer {
  width: 100%;
}

.mainContainer {
  margin: 0 0 120px 0;
  padding: 0 10px;
}
main > h1 {
  font-size: 24px;
}
.headerContainer {
  background-color: var(--header-bg-colour);
  color: var(--header-colour);
  margin: 0;
  padding: 0;
}
.activeNavItem{
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-theme-colour);
  padding: 8px 0;
}
header h1 {
  margin: 0;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header>div:last-child {
  position: relative;
  display: flex;
  align-items: center;
}

.mainNav {
  position: absolute;
  left: -100%;
  top: -1px;
  transition: left 0.5s;
  background-color: var(--header-bg-colour);
  color: var(--header-colour);
  width: 100%;
}

.mainNav>menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.mainNav>menu>li {
  border-top: 1px solid var(--header-colour);
  padding: 5px 15px;
}

.navItem {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: var(--header-colour);
  padding: 8px 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
}

.mobileIcons {
  display: flex;
}

.searchIcon,
.burger {
  width: 1.8rem;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.burger {
  width: 2.5rem;
}

.searchIcon>img,
.burger>img {
  width: 100%;
  height: auto;
}

.desktopIcon {
  display: none;
}

/* burger menu */
.burger>.line {
  width: 35px;
  height: 5px;
  background-color: var(--header-colour);
  margin: 6px 0;
  transition: transform 0.4s;
}

/* search input */
.searchForm {
  width: 550px;
  display: flex;
}

.searchContainer {
  visibility: hidden;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  width: 100%;
  height: 5.75rem;
  background-color: rgba(17, 17, 17, .9);
}

.searchInput {
  width: 100%;
}

#searchInput {
  border: 3px solid var(--main-gray-colour);
  border-right: none;
  box-sizing: border-box;
  width: 100%;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 2rem 0 0 2rem;
}

#searchInput:focus {
  outline: none !important;
}

.searchIconInside {
  cursor: pointer;
  width: 4rem;
  padding: .2rem 1rem .2rem 1rem;
  align-items: center;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  border: 3px solid var(--main-gray-colour);
  border-left: none;
  border-radius: 0 2rem 2rem 0;
}

.searchForm:focus-within>.searchIconInside {
  border: 3px solid var(--main-theme-colour);
  border-left: none;
}

.searchForm:focus-within>.searchInput>#searchInput {
  border: 3px solid var(--main-theme-colour);
  border-right: none;
}

.searchIconInside:hover {
  background: var(--main-gray-colour);
}

.searchIconInside>img {
  width: 100%;
  height: auto;
}

#closeBtn {
  cursor: pointer;
  background: transparent;
  border: none;
}

#closeBtn>img {
  /* changing colour to #59aead */
  width: 35px;
  filter: invert(73%) sepia(11%) saturate(1545%) hue-rotate(130deg) brightness(84%) contrast(86%);
}

/* search results */
.searchResultsPositioner {
  z-index: 3;
  min-width: 572px;
  top: 68px;
  position: fixed;
  text-align: left;
  border-radius: 1.75rem;
}

.searchResultsContainer {
  width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 600px) {
  .searchResultsContainer {
    margin: 0 auto;
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .searchResultsContainer {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .searchResultsContainer {
    width: 300px;
  }
}

@media screen and (max-width: 325px) {
  .searchResultsContainer {
    width: 250px;
  }
}

.searchResultsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.searchResultsItem {
  color: #111;
  padding: 0 1rem;
}
/* Rotate first bar */
.burger.changeBurger>.line:first-child {
  transform: translate(0, 11px) rotate(-45deg);
}

.burger.changeBurger>.line:nth-child(2) {
  opacity: 0;
}

.burger.changeBurger>.line:last-child {
  transform: translate(0, -11px) rotate(45deg);
}

/* main content */
main > section {
  font-size: 20px;
}
h2, main > h1{
  display: flex;
  justify-content: center;
}
.banner{
  width: 100%;
}
.bannerImage{
  background-size: cover;
}
.aboutUsImage{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,6)), url('../images/about-us.jpg');
}
.bannerImage > h1 {
  position: relative;
  bottom: 2rem;
  left: 3rem;
  margin: 0;
  font-size: 3rem;
  color: var(--main-theme-colour);
}
@media screen and (max-width: 540px){
  .bannerImage > h1{
    font-size: 2rem;
    left: 1.5rem;
    bottom: 1rem;
  }
}
.bannerImage > img {
  width: 100%;
  height: auto;
}
div.address {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

ul.address {
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 0;
}
ul.address > li {
  font-size: 24px;
}
ul.contacts > li > a {
  color: var(--main-theme-colour);
}
.iframeMap {
  margin: 0 auto;
  width: 95%;
  height: 250px;
  border: 2px solid black;
}

.iframeMap iframe {
  width: 100%;
  height: 100%;
}
ul.contacts > li{
  font-size: 20px;
}
/* facilities */
.facilitiesImage{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,6)), url('../images/facilities.webp');
}
/* resources */
ol.resources > li::marker{
  font-weight: bold;
  font-size: 1.17em;
}
.resourcesGrayText{
  color: grey;
  font-style: italic;
}
.resourcesImage{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,6)), url('../images/resources.webp');
}
/* for staff */
ul.nonDecor{
  list-style-type: none;
  padding: 0;
}
ul.nonDecor > li > ul > li{
  font-size: 16px;
}
ul.forStudents > li > ul {
  padding-left: 12px;
}
ul.itemsMargin > li > h4 {
  margin: 0;
}
.forStaffImage{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,6)), url('../images/forStaff.webp');
}
/* for students */
.forStudentsImage{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,6)), url('../images/forStudents.webp');
}
/* contact us */
#contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}
.messageContainer {
  display: flex;
  flex-direction: column;
}
.contactInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.contactInputs > div {
  display: flex;
  flex-direction: column;
}
.contactInputs > div > input {
  padding: 1rem;
  border-radius: .5rem;
}
textarea {
  resize: none;
  border-radius: .5rem;
  padding: .6rem;
  min-height: 250px;
  height: 100%;
}
.contactInputs > div > input, textarea {
  border: 3px solid black;
  transition: .4s;
}
.contactInputs > div > input:focus, textarea:focus {
  outline: none !important;
  border-color: var(--main-theme-colour);
}
.sendButton {
  grid-column: 1;
  width: 100%;
  box-sizing: border-box;
}
.sendButton > input {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: 3px solid black;
  background: var(--main-theme-colour);
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: .25s;
}
.sendButton > input:hover {
  background: black;
  /* border: 4px solid var(--main-theme-colour); */
  color: white;
}
/* courses */
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  width: 200px;
  padding: 8px;
}
th.summary {
  width: 300px;
}
td.summary {
  font-size: 16px;
}
/* footer */
.footerContainer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: var(--footer-bg-colour);
  color: var(--footer-colour);
  margin: 40px 0 0 0;
  font-size: 0.8em;
  padding: 20px 0;
}

footer>nav {
  padding: 0;
  margin: 0;
}

footer>nav>menu {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

footer>nav>menu>li>a {
  color: var(--footer-colour);
  text-decoration: none;
  padding: 0 10px;
}

footer>div {
  text-align: center;
}